.content{
   width:90%;
    position: relative;
    display: flex;
    margin-left: 20%; 
    background-color: #202020f6;
    min-height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width:767px){
    .content{
        width:100%;
        display: flex;
        flex-direction: column;
        background-color: #202020f6;
        min-height: 75vh;
        overflow-y: auto;
        margin-left:0px;
     }
}

.content-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    justify-content: space-between;
    width:90%;
}


@media screen and (max-width:767px){
    .content-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        justify-content: space-between;
        width:90%;
    }
}

@media screen and (min-width:768px){
    .sidebar-media-queries{
        display: none;
    }
}

@media screen and (max-width:767px){
    .sidebar-media-queries{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:25%;
    }
}

.fir-content-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.fir-content-text-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fir-content-para{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    color:#ffffff;
}

.fir-content-text{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    color:#ffffff;
}

.fir-content-span{
    color:green;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

.fir-content-para-span{
    color:green;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;

}

@media screen and (max-width){
    .fir-btn-con{
         display: none;
    }
}

.btn{
    color:#ffffff;
    font-family: 'Roboto';
    font-weight:bold;
    background-color: rgb(15, 223, 15);
    border:1px solid rgb(15, 223, 15);
    border-radius:8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor:pointer;
    outline:none;
}

