.crypto-currency{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    position: static;
}

@media screen and(max-width:767px){
    .crypto-currency{
        width:100%;
        display: flex;
        flex-direction: column;
     }
}

.crypto-currency-con{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width:767px){
    .crypto-currency-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:100%;
    }
}

.crypto-head-text{
    color:gold;
    font-size:25px;
    font-family: 'Roboto';
    font-weight: normal;
}

.crypto-currency-ul-con{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and(max-width: 767px){
    .crypto-currency-ul-con{
        width:60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}