.crypto-currency{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    position: static;
}

.crypto-currency-con{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.crypto-head-text{
    color:gold;
    font-size:25px;
    font-family: 'Roboto';
    font-weight: normal;
}

.crypto-currency-ul-con{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}